/*h6 {
	display: inline;
}*/

ul {
	padding-left: 20px;
}
ul.pros {
	padding-left: 0;
}
ul.pros li {
	list-style-type: none;
}
ul.pros li:before {
	content: "★ ";
	font-size: 12px;
}
.btn-outline-primary {
	font-style: normal;
	background-color: transparent;
	color: #e4742e;
	border: solid 1px #e4742e;
	transition: all 0.5s;
}
.btn-outline-primary:hover {
	background-color: rgba(228,116,46,0.85);
	color: #ffffff;
}

/*SUBHAUL*/
#subhaul p {
	text-indent: 0;
}
ul.req {
	font-size: 12px;
}

/*CONTACT*/
#contact {
	display: none;
}
.form-group {
	padding: 0px 5px;
}


@media screen and (max-width: 1061px) {}

@media screen and (max-width: 989px) {}

@media screen and (max-width: 767px) {
	#contact>div, #contactForm {
		padding: 0;
	}
}

@media screen and (max-width: 498px) {}