.jumbotron h1 {
	font-size: 50px;
	font-weight: 700;
	font-style: italic;
}

/*HEADER*/
.jumbotron {
	position: relative;
	background-color: #000000;
	color: #ffffff;
	margin: 0;
	padding: 20px 20px 0px;
}
#header {
	position: relative;
	width: 950px;
	margin: auto;
	padding: 0;
}
#sunburst {
	position: absolute;
	float: left;
	width: 200px;
	height: 100px;
	overflow: hidden;
	bottom: 10px;
}
#sunburst img {
	width: 100%;
}
#title {
	position: relative;
	width: 950px;
	padding-left: 200px;
}

/*MAIN*/
.main {
	position: relative;
}
#back {
	position: absolute;
	top: 40px;
	left: 40px;	
}
#back > * {
	float: left;
}
#back p {
	font-style: italic;
	font-size: 18px;
	padding-left: 5px;
	margin: 0;
	text-indent: 0;
}
.glyphicon {
	font-size: 30px;
}

/*RESIZE*/
@media screen and (max-width: 1061px) {}

@media screen and (max-width: 989px) {
	.jumbotron h1 {
		font-size: 35px;
	}
	h1 .firstLetter {
		font-size: 50px;
	}
	#header {
		width: 650px;
	}
	#sunburst {
		width: 120px;
		height: 60px;
	}
	#title {
		padding-left: 120px;
	}
}

@media screen and (max-width: 767px) {
	.jumbotron h1 {
		font-size: 35px;
		margin: 0;
	}
	.jumbotron {
		text-align: center;
	}
	#header {
		width: auto;
	}
	#sunburst {
		margin: auto;
		position: relative;
		float: none;
		padding: 0;
	}
	#title {
		padding: 0;
		width: auto;
	}
	.main {
		padding-top: 85px !important;
	}
}

@media screen and (max-width: 498px) {
	h1 {
		font-size: 40px;
	}
}