<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  {% endblock %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.ico') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/ajax.js')}}"></script>
  <script src="{{ url_for('static',filename='js/autosize.min.js') }}" type="text/javascript"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/modal.js')}}"></script>
</head>

<body>
  <header>
    <div id="left">
      <a href="{{url_for('dashboard.dashboard_index')}}" class="light">
        <i class="fas fa-home"></i>
      </a>
    </div>
    
    <!-- <div id="middle">
      <img src="{{url_for('static', filename='img/sunburst-half.png')}}">
    </div> -->

    <div id="right">
      <a class="light" onclick="alert('Settings isn\'t implemented yet')">
        <i class="fas fa-cogs"></i>
      </a>
    </div>
  </header>

  {#{ get_flashed_messages() }#}

  <ul id="flashes">
    {% for m in get_flashed_messages() %}
    <li>{{ m }}<a>×</a></li>
    {% endfor %}
    <!-- <li>Flash 1<a>×</a></li>
    <li>Flash 2<a>×</a></li> -->
  </ul>
  {% block content %}{% endblock %}

  <footer>
    <p>Copyright Adam Miller 2020</p>
    <!-- <p>Copyright Sundance Transport, Inc. 2018</p> -->
  </footer>

  <script type="text/javascript">
    autosize($('textarea.resize'))
    $('#flashes > li').on('click', 'a',function(){
      $(this).parent().hide()
    })
  </script>
  
</body>
</html>
