<!DOCTYPE html>
<html lang="en">

<head>
	{% block title %}
	{% endblock %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.ico') }}">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div id="left">
			<a class="light">
				<i class="fas fa-home"></i>
			</a>
		</div>

		<!-- <div id="middle">
			<img src="{{url_for('static', filename='img/sunburst-half.png')}}">
		</div> -->

		<div id="right">
			<a class="light" onclick="alert('Settings isn\'t implemented yet')">
				<i class="fas fa-cogs"></i>
			</a>
		</div>
	</header>

	{#{ get_flashed_messages() }#}

	<ul id="flashes">
		{% for m in get_flashed_messages() %}
		<li>{{ m }}<a>×</a></li>
		{% endfor %}
	</ul>
	{% block content %}{% endblock %}

	<footer>
		<p>Copyright &copy; Adam Miller 2020</p>
	</footer>

</body>
</html>
