{% extends "base.html" %}

{% block title %}
<title>Drivers</title>
{% endblock %}

{% block content %}
<section id="drivers">
	<h1>Drivers</h1>

	<ul class="nav-pane">
		{% for driver in drivers|sort(attribute="name") %}
		<li>
			<form class="sundance-toggle-form readonly">
				<span>
					<i class="fas fa-user"></i>
				</span>
				{{ form1.hidden_tag() }}
				{{ form1.id(value=driver._id, type='hidden')}}
				<table>
					<tr>
						<td>
							<label>Name</label>
						</td>
						<td>
							{{ form1.name(autocomplete='off', required=True, readonly=True, value=driver.name) }}
						</td>
					</tr>
					<tr>
						<td>
							<label>Alias</label>
						</td>
						<td>
							{{ form1.alias(autocomplete='off', readonly=True, value=driver.alias) }}
						</td>
					</tr>
					<tr>
						<td>
							<label>Truck ID</label>
						</td>
						<td>
							{{ form1.vehicle(autocomplete='off', required=True, readonly=True, value=driver.vehicle if driver.vehicle else '') }}
						</td>
					</tr>
					<tr>
						<td>
							<label>Forklift</label>
						</td>
						<td id="forklift" class="input-addon">
							{{ form1.forklift(checked=True if driver.forklift else False) }}
							<span class="addon">{{ 'Yes' if driver.forklift else 'No' }}</span>
						</td>
					</tr>
					<tr>
						<td>
							<label>Pay Rate</label>
						</td>
						<td id="percentage" class="input-addon">
							{{ form1.percentage(id='percentage', autocomplete='off', required=True, readonly=True, value=driver.percentage) }}
							<span class="addon">%</span>
						</td>
					</tr>
				</table>
				<a class="edit">Edit</a>
			</form>
		{% endfor %}

		<li id="add">
			<a>
				<span>
					<i class="fas fa-plus"></i>
				</span>
				<p>New Driver</p>
			</a>
		</li>
	</ul>
</section>

<div class="profile-modal"></div>

<div id="add-driver" class="form-modal">
	<form action="{{url_for('.add_driver')}}" class="sundance-form" method="post">
		<h2>New Driver</h2>
		{{ form1.hidden_tag() }}
		<label>Name</label>
		{{ form1.name(autocomplete='off', required=True) }}
		<label>Excel Alias</label>
		{{ form1.alias(autocomplete='off') }}
		<label>Vehicle ID</label>
		{{ form1.vehicle(autocomplete='off') }}
		<label class="checkbox">Forklift</label>
		{{ form1.forklift() }}
		<label>Pay Percentage</label>
		{{ form1.percentage(autocomplete='off', required=True) }}
		<button>Add Driver</button>
	</form>
</div>

<div id="blank-modal"></div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script type="text/javascript">
	var dur = 500, xw = 50

	$(document).ready(function(){
		$('input[type="checkbox"]').on('change', function(e){
			$(this).siblings('span').text(e.target.checked?'Yes':'No')
		})

		$('.edit').on('click', function(){
			$button = $(this)
			$form = $(this).parent('form.sundance-toggle-form')
			if ($form.hasClass('readonly')){
				edit_driver($form, $button)
			} else {
				save_driver($form, $button)
			}
		})
	})

	function edit_driver(form, button) {
		var left, right
		if (form.index('form.sundance-toggle-form')%3==0) {
			left = 0
			right = 2*xw
		} else if (form.index('form.sundance-toggle-form')%3==2) {
			left = 2*xw
			right = 0
		} else {
			left = xw
			right = xw
		}
		form.removeClass('readonly')
		form.addClass('editable')
		form.find('input[type="text"]').removeProp('readonly')
		form.animate({
			left:'-'+left,
			right:'-'+right
		},{
			duration: dur,
			easing: 'easeInOutCubic',
			start: function(){
				form.css({'position':'absolute','z-index':'10'})
			}
		})
		$('#blank-modal').fadeIn(dur)
		button.text('Done')
	}

	function save_driver(form, button) {
		form.addClass('readonly')
		form.removeClass('editable')
		form.find('input[type="text"]').prop('readonly', 'true')
		form.animate({
			'left':'0px',
			'right':'0px'
		},{
			duration: dur,
			easing: 'easeInOutCubic',
			done: function(){
				form.css({'position':'relative','z-index':'0'})
				$.post('{{url_for(".edit_driver")}}',form.serialize(),function(res){
					console.log(res)
				})
			}
		})
		$('#blank-modal').fadeOut(dur)
		button.text('Edit')
	}

</script>
{% endblock %}