{% extends "base.html" %}

{% block title %}
<title>Download Payroll</title>
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$( function() {
		$("#datepicker").datepicker();
	} );
</script>
<section id="payroll">
	<h1>Download Payroll</h1>
	<form>
		<p>Select a day during the week of payroll you'd like to download</p>
		<input id="datepicker" type="text" name="date" placeholder="Select date" required>
		<br>
		<button type="submit" formaction="{{url_for('.create_payroll_pdf')}}">Download PDF</button>
		<button type="submit" formaction="{{url_for('.create_payroll_xlsx')}}">Download Excel</button>
	</form>
</section>
{% endblock %}
