{% extends "base.html" %}

{% block title %}
<title>Payroll</title>
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>

<section id="payroll">
	<h1>Payroll</h1>
	<div class="step">
		<form id="excel_form" enctype="multipart/form-data">
			<label for="excel_file" class="file-select">
				<!-- <span id="file-icon" class="glyphicon glyphicon-download-alt"></span> -->
				<!-- <span id="file-icon" class="glyphicon glyphicon-file"></span> -->
				<span id="file-icon">
					<i class="fas fa-file"></i>
				</span>
				<span id="choose">Choose a file</span> <span id="drag">or drag it here.</span>
				<!-- <input id="excel_file" type="file" name="excel_file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"> -->
			</label>
			<input id="excel_file" type="file" name="excel_file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
		</form>
	</div>

	<div class="step">
		<ul class="scroll-select">
			<!-- <li class="selected">One</li>
			<li>Two</li>
			<li>Three</li> -->
		</ul>
	</div>
	
	<div class="step">
		<button id="submit" disabled>Submit</button>
	</div>
</section>

<div id="loading-modal">
	<span class="sunburst-spinner">
		<img src="{{url_for('static', filename='img/sunburst.png')}}">
	</span>
	<p class="loading">Loading...</p>
</div>

<script type="text/javascript">
	var dates = []
	var sheetnames = []
	var xf = null
	
	$(document).ready(function(){
		if (advanced_upload) {
			$('#excel_form').addClass('advanced-upload');
		}

		if (advanced_upload) {
			var dropped_file = null;

			$('#excel_form').on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
				e.preventDefault();
				e.stopPropagation();
			})
			.on('drop', function(e) {
				populate_file(e.originalEvent.dataTransfer.files[0])
			});

		}

		$('ul.scroll-select').on('click', 'li', function(){
			$(this).toggleClass('selected')
		})

		$('button#submit').on('click', function(){
			// var form_data = new FormData($('#excel_form')[0])
			$('#loading-modal').show()
			var form_data = new FormData()
			form_data.append('excel_file', xf)
			var selected_sheets = []
			$('.scroll-select > li.selected').each(function(i,el){
				selected_sheets.push(el.innerHTML)
			})
			console.log(selected_sheets)
			form_data.append('sheets', selected_sheets)
			ajax_fd(form_data, function(res){
				// console.log(res)
				$('#loading-modal').hide()
				// window.location.replace("{{url_for('loads', _external=True)}}")
				window.location.replace("{{url_for('create_pdf', _external=True)}}")
				window.location.replace("{{url_for('dashboard', _external=True)}}")
			})
		})

		$('#excel_file').on('change', function(e) {
			populate_file(e.target.files[0])
		})
	})

	function populate_file(file) {
		xf = file
		var reader = new FileReader()
		reader.onload = function (e) {
			var workbook = XLSX.read(e.target.result, {type:'binary'})
			console.log(e)
			parse_excel_sheets(workbook.SheetNames)
			$('.file-select').addClass('populated')
			$('.file-select > #choose').text('')
			$('.file-select > #drag').text(file.name)
		}
		reader.readAsArrayBuffer(file);
		$('button#submit').removeAttr('disabled')
	}

	function parse_excel_sheets(sheetnames) {
		$('ul.scroll-select').empty()
		for (var i = 0; i < sheetnames.length; i++) {
			ret = []
			sheet = sheetnames[i]
			date = new Date(sheet)
			if ((sheetnames.indexOf('Subhaul '+sheet) > 0 || sheetnames.indexOf('subhaul '+sheet) > 0) && Date.parse(sheet)) {
				date = new Date(sheet)
				// dates.push(new Date(sheet))
				// date.toString().slice(4,10)
				$('ul.scroll-select').append('<li>' + sheet + '</li>')
			}
		}
		// sheetnames.forEach(function(sheet) {
		// 	if ('Subhaul '+sheet in sheetnames) {
		// 		console.log('contains subhaul')
		// 	}
		// 	$('ul.scroll-select').append('<li>' + sheet + '</li>')
		// 	console.log(sheet)
		// })
	}

	var advanced_upload = function() {
		var div = document.createElement('div');
		return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
	}();
</script>
{% endblock %}