{% extends "base.html" %}

{% block title %}
<title>Download Price Sheet</title>
{% endblock %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe2svPTpoA8wbJkR32E-dZCgH_ZNPvfdg&libraries=places&callback=init" async defer></script>
<section id="price-sheet">
	<h1>Download Price Sheet</h1>
	<form class="sundance-form">
		<label>Origin</label>
		<input id="origin" type="text" name="origin" placeholder="" required>
		<label>Customer</label>
		<input type="text" name="customer" placeholder="" autocomplete="off">
		<button type="submit" formaction="{{url_for('.create_price_sheet_xlsx')}}">Download Excel</button>
	</form>
	<form>
		
	</form>
</section>

<script type="text/javascript">
	function init() {
		var search_box = new google.maps.places.SearchBox($('#origin')[0])
	}
</script>
{% endblock %}