{% extends "base.html" %}

{% block title %}
<title>Route Calculator</title>
{% endblock %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe2svPTpoA8wbJkR32E-dZCgH_ZNPvfdg&libraries=places&callback=init" async defer></script>

<section id="route">
	<h1>Route Calculator</h1>
	<!-- <form class="sundance-form">
		<label>Origin</label>
		<input id="origin" type="text" name="origin" placeholder="">
		<label>Destination</label>
		<input id="destination" type="text" name="destination" placeholder="">
	</form> -->
	<form method="post" action="{{ url_for('route_result') }}">
		<div class="row">
			<label class="aln-right">No. Drivers:</label>
			<input name="vehicles" type="text">
			<br>
			<label class="aln-right">Depot:</label>
			<input name="vehicles" type="text" value="Sacramento, CA" readonly disabled>
			<br>
			<label class="aln-right">CPM ($):</label>
			<input name="cpm" type="text">
		</div>
		<div class="row">
			<div class="col col-num"><label>Load #</label></div>
			<div class="col col-orig"><label>Origin*</label></div>
			<div class="col col-dest"><label>Destination*</label></div>
			<div class="col col-time"><label>Time</label></div>
			<div class="col col-pd"><label>Pick Up/<br>Drop Off</label></div>
			<div class="col col-vw"><label>View</label></div>
		</div>
		{% for i in range(10) %}
		<div class="row">
			<div class="col col-num"><label>{{ i+1 }}</label></div>
			<div class="col col-orig"><input name="origin" class="searchbox" type="text" placeholder=""></div>
			<div class="col col-dest"><input name="destination" class="searchbox" type="text" placeholder=""></div>
			<div class="col col-time"><input name="time" type="text" placeholder="00:00"></div>
			<div class="col col-pd">
				<select name="pd">
					<option value="0">Pick Up</option>
					<option value="1">Drop Off</option>
				</select>
			</div>
			<div class="col col-vw"><button type="button" onclick="view_route(this)"><i class="fas fa-map-marker-alt"></i></button></div>
		</div>
		{% endfor %}
		<button type="submit">Find Best Route</button>
		<br>
		<br>
	</form>
	<div id="map" style="height: 500px"></div>
	<h2 id="results-h2">Results</h2>
	<table id="results"></table>
</section>

<script type="text/javascript">
	var directions_service, directions_renderer
	var searchboxes = []

	function init() {
		var map = new google.maps.Map($('#map')[0], {
			center: {lat: 38.5816, lng: -121.4944},
			disableDoubleClickZoom: true,
			fullscreenControl: false,
			gestureHandling: 'auto',
			keyboardShortcuts: true,
			mapTypeControl: false,
			mapTypeId: 'roadmap',
			scrollwheel: false,
			streetViewControl: false,
			zoom: 7
		})
		directions_service = new google.maps.DirectionsService()
		directions_renderer = new google.maps.DirectionsRenderer()
		directions_renderer.setMap(map);

		var origin = $('#origin')[0]
		var destination = $('#destination')[0]
		var origin_search = new google.maps.places.SearchBox($('#origin')[0])
		var destination_search = new google.maps.places.SearchBox(destination)

		var input = $('.searchbox')[0]
		var input_search = new google.maps.places.SearchBox(input)

		$('.searchbox').each(function(i, e){
			searchboxes.push(l = new google.maps.places.SearchBox(e))
			l.addListener('places_changed', function() {
				console.log('location selected')
			})
		})

		// Place the input field onto the map
		origin_search.addListener('places_changed', function() {
			origin_place = origin_search.getPlaces()[0]
			if (destination_search.getPlaces()) {
				calc_route(origin_search.getPlaces()[0].place_id, destination_search.getPlaces()[0].place_id)
			}
		})

		destination_search.addListener('places_changed', function() {
			destination_place = destination_search.getPlaces()[0]
			if (origin_search.getPlaces()) {
				calc_route(origin_search.getPlaces()[0].place_id, destination_search.getPlaces()[0].place_id)
			}
		})
	}

	function calc_route(oid, did) {
		var request = {
			origin: {
				'placeId': oid
			},
			destination: {
				'placeId': did
			},
			travelMode: 'DRIVING'
		};
		directions_service.route(request, function(res, status) {
			if (status == 'OK') {
				directions_renderer.setDirections(res);
			} else {
				console.log('Error retrieving route: ' + status)
			}
		});
	}

	function view_route(b) {
		bi = $(b).closest('.row').index() - 2
		console.log('route row ' + bi)
		console.log(b)
		var request = {
			origin: {
				'placeId': searchboxes[2*bi].getPlaces()[0].place_id
			},
			destination: {
				'placeId': searchboxes[2*bi+1].getPlaces()[0].place_id
			},
			travelMode: 'DRIVING'
		};
		directions_service.route(request, function(res, status) {
			if (status == 'OK') {
				directions_renderer.setDirections(res)
			} else {
				console.log('Error retrieving route: ' + status)
			}
		})
	}

	function show_results(meters, tolls=null) {
		var miles = 0.00062137*meters
		var rate = 2.50
		$r = $('#results')
		$r.empty()
		$r.append('<tr><td><p>'+miles.toFixed()+' mi</p><p class="small">at '+rate.toFixed(2)+'/mi</p></td><td>'+(miles*rate).toFixed(2)+'</td></tr>')
		$r.append('<tr><td><p>'+(tolls?tolls.length:0)+' tolls</p><p class="small">No data</p></td><td>0.00</td></tr>')
		$r.append('<tr><td>Suggested cost:</td><td id="total">'+(miles*rate).toFixed(2)+'</td></tr>')
		$r.show()
		$('#results-h2').show()

		$('html, body').animate({
			scrollTop: $('#results').offset().top
		}, 1000)
	}

	function round_price(p) {
		return Math.ceil(p/25)*25
	}
</script>
{% endblock %}