{% extends "base.html" %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block content %}
<section>
  <h1>Sign Up</h1>
  <form class="sundance-form" method="POST">
    {{ form.hidden_tag() }}
    <label class="control-label" for="username">Username</label>
    {{ form.username(autocomplete="off") }}
    <label class="control-label" for="password">Password</label>
    {{ form.password(autocomplete="off") }}
    <label class="control-label" for="confirm">Confirm Password</label>
    {{ form.confirm(autocomplete="off") }}
    <button class="btn btn-default" type="submit">Sign Up</button>
  </form>
</section>
{% endblock %}